.content_wrapper {
	position: relative;
	background-color: #fff;

	.page_content {
		@include media(padding, 24);
		flex-direction: column;
		width: 100%;
		min-height: 100%;
		position: relative;
	}
}
