.white_header {
	height: 72px;
	margin-top: 16px;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		width: 54px;
		height: 54px;
		position: absolute;
		left: 16px;
	}
	img {
		width: 26px;
		height: auto;
		position: absolute;
		left: 16px;
	}
	span {
		@include font($HEADER_TITLE, normal, bold);
	}
}

.agreeListWrap {
	padding: 22px;
	.agree {
		padding: 16px;
		height: 48px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		img {
			width: 18px;
		}
		label {
			@include font($FT_MD1, normal, normal);
		}
	}
	.agree:first-of-type {
		border: 1px solid #cfcfcf;
		margin-bottom: 22px;
	}
}

.agreeConfirm {
	@include center;
	margin-top: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 254px;
	height: 40px;
	border-radius: 16px;
	background-color: #89c528;
	@include font($FT_MD2, normal, normal);
	color: #fff;
}

.logoColorWrap {
	@include center;
	@include media(margin-top, 160);
	@include media(margin-bottom, 70);
	img {
		@include media(width, 328);
	}
}

.formWrap {
	background-color: rgba($color: #89c528, $alpha: 0.2);
	border-radius: mediaVal(40);
	@include media(margin, 56);
	@include media(padding, 56);
	height: auto;
	.formTitle {
		@include font($FT_MD1, normal, normal);
		@include center;
		@include media(margin-bottom, 36);
	}
	input {
		width: 100%;
		@include media(height, 80);
		background-color: #fff;
		border-radius: mediaVal(40);
		color: #000;
		@include media(padding, 30);
		@include media(margin, 14, 0);
		input::placeholder {
			color: #d0d2d3;
		}
	}

	button {
		@include media(margin-top, 44);
		@include media(width, 308);
		@include media(height, 80);

		width: 254px;
		height: 40px;
		border-radius: mediaVal(30);
		background-color: #89c528;
		color: #fff;
		@include font($FT_MD2, normal, normal);
	}
}
