.farmWrap {
	display: flex;
	flex-direction: column;
	@include center;
}

.farm_list_Wrap {
	width: 100%;
	height: 100vh;
	background-image: url('/images/png/img_farm_list_header_bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;

	.header {
		@include center;
		@include media(height, 116);

		img {
			@include media(width, 154);
			@include media(height, 28);
		}
	}
	.list {
		@include media(padding, 30, 16);
		background-color: #fff;
		height: 100vh;
		width: 100%;
		border-top-left-radius: mediaVal(30);
		border-top-right-radius: mediaVal(30);
	}
	.farm_empty_wrap {
		@include center;
		flex-direction: column;
		&.img {
			@include media(width, 166);
			@include media(height, 166);
			@include media(margin-top, 80);
			@include media(margin-bottom, 32);
		}
		&.description {
			@include font(16, normal, normal);
		}
		&.padding {
			@include media(margin-bottom, 24);
		}
		.addFarmBtn {
			border-radius: mediaVal(30);
			background-color: #89c528;
			@include media(margin, 8, 12);
			@include center;
			&.img {
				@include media(width, 14);
				@include media(margin-right, -2);
			}

			&.button {
				color: #fff;
				@include font(15, normal, normal);
			}
		}
	}
}
.alarm_wrap {
	background-color: #87cd76;
	border-radius: mediaVal(20);
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include media(padding, 18, 30);
	color: #fff;
	span {
		@include font(15, normal, normal);
		color: #fff;
	}
	.alarm_title {
		@include media(margin-bottom, 4);
	}
}

.farminfo_item {
	display: flex;
	width: 100%;
	@include media(height, 118);
	flex-direction: row;
	background-color: #d9d9d9;
	border-radius: mediaVal(20);
	@include media(margin, 16, 0);

	.farminfo_img_wrap {
		@include media(width, 120);
		@include media(padding, 16);
		@include center;
		img {
			width: 100%;
		}
	}
	.framinfo_text_wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		@include media(height, 118);

		.framinfo_title_wrap {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			@include media(height, 46);

			.title {
				@include font(20, normal, boldl);
				@include media(padding-right, 8);
			}
			.icon_weather {
				@include media(width, 25);
				@include media(height, 25);
			}
		}
	}
	.framinfo_data_wrap {
		@include font(16, normal, normal);
		@include media(height, 72);
		@include center;
		justify-content: space-between;
		.data_column {
			display: flex;
			flex-direction: column;
			flex: 1;
			@include font(24, normal, normal);
		}
		img {
			@include media(width, 25);
			height: auto;
		}
	}
}
