.farmWrap {
	display: flex;
	flex-direction: column;
	@include center;
	&.img {
		@include media(width, 332);
		@include media(margin-top, 300);
		@include media(margin-bottom, 48);
	}
	&.description {
		@include font($FT_MD2, normal, normal);
	}
	&.padding {
		@include media(margin-bottom, 52);
	}
	.addFarmBtn {
		border-radius: mediaVal(30);
		background-color: #89c528;
		@include media(margin, 18, 34);
		@include center;
		&.img {
			@include media(width, 26);
			@include media(margin-right, -20);
		}

		&.button {
			color: #fff;
			@include font($FT_MD2, normal, normal);
		}
	}
}
