.intro_wrap {
	width: 100%;
	height: 100vh;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.login_wrap {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-image: url('/images/png/img_intro_bg.jpg');
	display: flex;
	justify-content: center;
	align-items: center;

	.form_wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 384px;
		width: 309px;
		margin: 0 26px;
		border-radius: 30px;
		margin-bottom: 54px;
		background-color: rgba($color: #ffffff, $alpha: 0.15);
		.logo {
			width: 146px;
			padding-bottom: 12px;
		}

		&.input {
			width: 254px;
			height: 40px;
			display: flex;
			flex-direction: row;
			background-color: #e3e3e3;
			border-radius: 14px;
			padding: 0px 16px;
			margin: 6px 0px;
			align-items: center;
			@include font(16, normal, normal);
			input::placeholder {
				color: #d0d2d3;
			}
		}

		.login_bottom_menu {
			display: flex;
			flex-direction: row;
			height: auto;
			padding-top: 22px;
			align-items: center;
			color: #fff;
			@include font(11, normal, normal);
			label {
				display: flex;
				justify-content: center;
				align-items: center;
				input {
					margin-right: 4px;
				}
			}
		}
		.login_button {
			margin-top: 22px;
			width: 254px;
			height: 40px;
			border-radius: 30px;
			background-color: #89c528;
			color: #fff;
			@include font(15, normal, normal);
		}

		.join_button {
			margin-top: 34px;
			width: 254px;
			height: 40px;
			border-radius: 30px;
			background-color: #047235;
			color: #fff;
			@include font(15, normal, normal);
		}
	}
}
